.App-header {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: var(--color-primary);
  padding: 1.2rem 0 0.3rem 0;
  border-bottom: 4px solid var(--color-primary);
}

.App-header img {
  width: 200px;
  height: 200px;
}
